#multi.theme-obsidian .content {
    background: #393939;
    color: #e0e2e4;
}
#multi.theme-obsidian .tabset .list .active {
    color:var(placeholder-fg);
    background: #393939;
}
#multi.theme-obsidian .tabset.active .list .active {
    color:var(highlight-fg);
    background: #393939;
}
#multi.theme-obsidian .list li:hover {
    background: #393939;
}
#multi.theme-obsidian .tabset.active .list .dirty {
    color:var(accent-foreground);
}
.cm-s-obsidian {
    background-color: #3b3f41;
    color: #e0e2e4;
    padding-left: 0;
}
.cm-s-obsidian span.cm-bracket {   color: #e0e2e4; }
.cm-s-obsidian span.cm-bracket1 {  color: #e0e2e4; }
.cm-s-obsidian span.cm-bracket2 {  color: #83e1b2; }
.cm-s-obsidian span.cm-bracket3 {  color: #aec;    }
.cm-s-obsidian span.cm-bracket4 {  color: #7ad1dd; }
.cm-s-obsidian span.cm-bracket5 {  color: #caa9fa; }
.cm-s-obsidian span.cm-bracket6 {  color: #cc9dc7; }
.cm-s-obsidian span.cm-bracket7 {  color: #b96ed0; }
.cm-s-obsidian span.cm-bracket8 {  color: #83e1b2; }
.cm-s-obsidian span.cm-bracket9 {  color: #7ad1dd; }
.cm-s-obsidian span.cm-bracket10 { color: #aec;    }
.cm-s-obsidian span.cm-bracket11 { color: #7ad1dd; }
.cm-s-obsidian span.cm-bracket12 { color: #b96ed0; }
.cm-s-obsidian span.cm-bracket0, .cm-s-obsidian span.cm-bracket-mismatched {
    color:#f88;
    background:#733;
}
.cm-s-obsidian span.cm-symbol { /**/
    color: #ccc;
}
.cm-s-obsidian span.cm-variable {
    color: #e0e2e4;
}
.cm-s-obsidian span.cm-variable-2 {
    color: #f5f5f5;
    font-weight: bold;
}
.cm-s-obsidian span.cm-string {
    color: #ec7600;
}
.cm-s-obsidian span.cm-string-2 {
    color: #c29f56
}
.cm-s-obsidian span.cm-number {
    color: #ffcd22;
}
.cm-s-obsidian span.cm-def {
    color:#e0e2e4;
    font-weight: bold;
}
.cm-s-obsidian span.cm-builtin {
    color: #678cb1;
    font-weight: bold;
}
.cm-s-obsidian span.cm-header { /**/
    color: #c29f56;
    font-weight: bold;
}
.cm-s-obsidian span.cm-property {
    color: #a082bd
}
.cm-s-obsidian span.cm-operator {
    color: #e8e2b7;
}
.cm-s-obsidian span.cm-keyword {
  color: #93c763;
  font-weight: bold;
}
.cm-s-obsidian span.cm-qualifier {
    color: #93c763;
}
.cm-s-obsidian span.cm-attribute {
    color: #b3b689;
    font-weight:bold
}
.cm-s-obsidian span.cm-meta { /**/
    color: #aec;
}
.cm-s-obsidian span.cm-atom {
    color: #f5f5f5;
}
.cm-s-obsidian span.cm-tag {
    color: #8cbbad;
    font-weight: bold;
}
.cm-s-obsidian span.cm-comment {
    color: #66747b;
    font-style: italic;
}
.cm-s-obsidian span.CodeMirror-searching {
    background: #aaa;
    color:black;
}
.cm-s-obsidian span.CodeMirror-searching-active {
    background: #afa;
    color:black;
}
.cm-s-obsidian .CodeMirror-selected {
  background: rgba(255,255,255,.15);
}
.cm-s-obsidian .CodeMirror-focused .CodeMirror-selected {
    background: #ff0000;
}
.cm-s-obsidian .CodeMirror-activeline-background {
    background:#303030;
}
.cm-s-obsidian span.CodeMirror-matchingbracket {
    border-bottom: 1px solid #33ffff;
    color: #ccc19b;
}
.cm-s-obsidian span.CodeMirror-nonmatchingbracket {
    border-bottom: 1px solid #cb3233;
    color: #cb3233;
}
.cm-s-obsidian .cm-searching {
    background:#5f5f5f;
    border-radius:0px;
    color:#eee !important;
}
.cm-s-obsidian .searching-current {
    background:#13879C;
    color:#BFFCFF !important;
}
.CodeMirror div.CodeMirror-cursor {
  border-left: 2px solid #c7c7c7;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
}
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
    width: auto;
    border: none !important;
    background: rgba(0, 200, 200, .4);
}
.CodeMirror-gutters {
    border-style: none;
    background: #202020;
}
.CodeMirror-linenumbers {
    background-color: #393939;
    background-image: linear-gradient(to bottom, #393939 33%, #686868 67%);
    background-position: right;
    background-size: 1px 3px;
    background-repeat: repeat-y;
}
.cm-s-obsidian .CodeMirror-linenumber {
    color: #80939b;
    padding-left: 5px;
}
.CodeMirror-hints {
    position: absolute;
    z-index: 1000000000000000;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid var(pane-bg);
    background: var(pane-bg);
    font-size: 90%;
    font-family: inherit;
    max-height: 20em;
}
.CodeMirror-hints ul {
    overflow-y:auto;
    max-height:20em;
}
.CodeMirror-hints ul li {
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    max-width: 60em;
    overflow: hidden;
    white-space: pre;
    color: #ccc;
    cursor: pointer;
}
.CodeMirror-hints input {
    display:none;
}
.CodeMirror-hints .selected {
    background: var(highlight-bg);
    color: var(highlight-fg);
}
.CodeMirror-hints ul::-webkit-scrollbar-thumb {
    background: var(scrollbar);
    border-color: var(scrollbar);
}